body {
  background-color: #fffef7;
}

* {
  padding: 0;
  margin: 0;
}

::-moz-selection { /* Code for Firefox */
    background: #fff;
}

::selection {
    background: #fff;
}

.nav ul {
        margin: 0;
        /*padding: 1em;*/
        font-family: 'Montserrat', arial, serif;


    }
.nav ul li {
        line-height: 2em;
        list-style: circle;
    }
    /* OPTIONAL THEMING */
    .mobile-toggleable-menu {
        background-color: transparent;
        color: #fff;
        display: block;
        height: 40px;
        padding: 0;
    }
    .mobmenu-toggle {
        background-color: transparent;
        font-size:4vw;
        color: #2F251B;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        height: 7%;
        line-height: 50px;
        border-radius: 50%;
        left:2%;
        letter-spacing: -0.5px;
    }
    .mobile-toggleable-menu li {
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 40px;
        padding: 0 2px;
    }
    .mobile-toggleable-menu li a {
        display: block;
        text-decoration: none;
        
    }
    .mobile-toggleable-menu li a:hover {
        color: #2F251B;

    }
    .mobmenu-toggle:hover {  
    }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "title title"
  "content content"
  "content2 content2";
  font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #2F251B;
    grid-auto-rows: auto;
grid-row-gap: 0em;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "title nav"
  "content content"
  "content2 content2";
  font-family: 'Montserrat', sans-serif;
    text-decoration: none;
       font-weight: 500;
    color: #2F251B;
    grid-auto-rows: auto);
grid-row-gap: 1em;
}


.content {
  grid-area: content;
  font-family: 'antic didone', sans-serif;
    letter-spacing: 2px;
grid-area: content;
font-size:6vw;
font-weight:bold;
padding: 0 0px;
text-align:center;
}

.content2 {
  grid-area: content2;
  text-align: left;
  position: absolute;
  font-size:2.7vw;
font-weight:bold;
  bottom: 35px;
  background-color:transparent;
  line-height:1.5;
  width:100%;
}

.info {
  padding: 0 50px;
}

.lessshit {
 float: left;
 margin-left: 20%;
}

.moreshit {
 float:right;
margin-right:20%;
}

.home {
  display: none;
}

.circle { 
  position: relative; 
  width: 100%; 
  overflow: hidden; 
  z-index: 10;
}

.circle text 
{ 
  font-family: 'Montserrat', Georgia, serif; 
  font-size: 1.9vw; 
  font-weight: bolder; 
  letter-spacing: 2px;
}

.circle svg { position: fixed; right: -28%; bottom: -3%; width: 70%; height: 300px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.bymarleau {
padding-left:7px;
float:left;
text-align:left;
}

.booknow {
  display: none;
}

.nav {
/*  grid-area: nav;*/
  font-size:3.5vw;
  /*margin-top:2%;*/
/*  padding: 25px 0px 0 0px;*/
  z-index: 0;
  margin-top:-0.8%;
  padding-right:5px;
  float: right;
  text-align: right;
}

.nav a {
   color: #2F251B;
/*  padding: 0px 15px 0 0;*/
  text-decoration: none;
}

.nav-desktop {
  display: block;
}

.nav-mobile {
  display: none;
}


.title {
  grid-area: title;
text-align:left;
font-size:4vw;
text-decoration: none;
color: #2F251B;
padding: 5px 5px;
font-weight: bold;
letter-spacing: 2px;
z-index: 100;
border: 6px solid #ff3333;
margin: 10px;
  }

 .title a {
  text-decoration: none;
color: #2F251B;
 }

 .inner {
  border:6px solid #a4a6bb;
  margin:5px;
  padding:15px;
 }

/*.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
}*/

@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.insta {
  display: inline-block;
  z-index: 5;

}

.insta:hover {
  display: inline-block;

}

.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.position-skew {
  position: absolute;
  top:50%;left:50%;transform: 
  translate(-50%,-50%);
  width:100%;
}

.nav-undie {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
/*  box-shadow: 0 0 1px transparent;*/
  position: relative;
  overflow: hidden;
}
.nav-undie:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 20%;
  background: #c89b4e;
  opacity: 1;
  height: 15px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-undie:hover:before, .nav-undie:focus:before, .nav-undie:active:before {
  right: 0;
}

.phrase {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:70%;
  font-size: 2.7vh;
  line-height: 1.5;

}

input[type=range] {
  -webkit-appearance: none;
  width: 30%;
  margin: 0px 0;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
  bottom: 15%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.6px 0.6px 0.5px #000000, 0px 0px 0.6px #0d0d0d;
  border: 3px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.6px 0.6px 0.5px #000000, 0px 0px 0.6px #0d0d0d;
  border: 1.7px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.6px 0.6px 0.5px #000000, 0px 0px 0.6px #0d0d0d;
  border: 1.7px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 13px;
  background: #ffffff;
  cursor: pointer;
  height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}

.rates {
font-family: 'antic didone', serif;
  font-size:2vw;
  text-align: left;
  padding-bottom: 40px;

}

.rate-type {
  font-size: 2.5vw;
  font-family: 'Montserrat', sans-serif;
}

.gender0 {
  line-height: 1.5;
   text-align: left;
    font-size:2vw;
}

.colour {
  font-size:1.3vw;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 40px;
}

h1 {
  font-family: 'antic didone', serif;
  text-align: center;
  padding: 40px 40px;
  font-size:6.3vh;
  width:90%;
  margin: 0 auto;
}


h1 span {
  transition: color 1s;
}
h1 span:hover{
  transition: color 0s;
 
}
h1 span:nth-child(1n):hover {
  color:#ff3333;
}

h1 span:nth-child(2n):hover{
   color: #A4A6BB;
}

h1 span:nth-child(3n):hover{
   color: #c89b4e;
}

.- {
  letter-spacing: -0.2px;
}

/*h1 span:nth-child(4n):hover{
   color: #D0C3B0;
}*/

.box {
    position: relative;
    z-index: 0;
}

.box>div>div {
/*    display: flex;*/
    justify-content: center;
    align-items: center;
}

.box>ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
} 

.box>ul li {
    width: 15px;
    height: 15px;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid #2F251B;
    transition: all 1s ease;
}

.box>ul li.active {
    border-color: #c89b4e; 
}

.row {
  width: 85%;
  margin: 90px auto;
  z-index: 1;
  padding: 0 30px;
}

.column {
    float: left;
    width: 50%;
    z-index: 1;
}

.prices {
  margin-right:7%;
}

.styling {
  display:none;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact {
  font-size: 1.5vw;
  text-align: center;
  margin-bottom: 20px;
}

.skew a {
  display: inline-block;
}

.skew a:hover {
  transform: skew(-10deg);
}

.buzzer {
  font-size: 1vw;
}

.maparea {
  margin-top:7%;
  position: absolute;
  top:50%;
  left:50%;transform: translate(-50%,-50%);
  text-align:center;
  line-height: 1.5;
}

.mapimg {
  width:85%;
  height:85%;
  border: solid 1px #2F251B;
}

.images {
  margin-top: 50px;
}

.img {
  width:80%;
}

.blockquote {
  display: none;
}
.blockquote2 {
  display: none;
}

.blockquote3 {
  display: none;
}

.blockquote4 {
  display: none;
}

.imageblock {
  /*padding: 70px 20px;*/
   float: left;
  width: 33.33%;
  padding: 0px;
}

.images::after {
  content: "";
  clear: both;
  display: table;

}

.hovertext {
  display:none;
  position:relative;
top:-520px;
left:120px;
  margin: 10px;
  font-size:3vw;
  z-index: 10;
  color: #fffef7;
  width:60%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  background-color: #ff3333;
  padding: 25px;
/*  border-radius: 50%;*/
}

.hovertext2 {
  background-color: #c89b4e;
   display:none;
  position:relative;
top:-520px;
left:120px;
  margin: 10px;
  font-size:3vw;
  z-index: 10;
  color: #fffef7;
  width:60%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  padding: 25px;
  /*border-radius: 50%;*/
}

.hovertext3 {
  background-color: #A4A6BB;
   display:none;
  position:relative;
top:-520px;
left:80px;
  margin: 10px;
  font-size:3vw;
  z-index: 10;
  color: #fffef7;
  width:70%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  padding: 25px;
/*  border-radius: 50%;*/
}

a:hover + .hovertext  {
  display:block;
}


a:hover + .hovertext2  {
  display:block;
}


a:hover + .hovertext3  {
  display:block;
}

.keyword {
  width:100%;
  text-align: center;
  margin-bottom:5%;
}

.keyword span {
  font-size:3.5vw;
  padding: 0 9%;

}
    .slider {
        width: 100%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

    .lazyslider {
      color: #2F251B;
      letter-spacing: -1px;
    }
}

/*-----LG----- */
@media screen and (max-width: 1700px) {

input[type=range] {
  -webkit-appearance: none;
  width: 30%;
  margin: 0px 0;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
  bottom: 15%;
}

.phrase {
  width:85%;
  font-size: 2.7vh;
  line-height: 1.5;

}

.keyword {
  width:100%;
  text-align: center;
  margin-bottom:-5%;
}

.keyword span {
  font-size:3.5vw;
  padding: 0 160px;
}


.hovertext {
  display:none;
  position:relative;
top:-520px;
left:120px;
  margin: 10px;
  font-size:3vw;
  z-index: 10;
  color: #fffef7;
  width:60%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  background-color: #ff3333;
  padding: 25px;
/*  border-radius: 50%;*/
}

.hovertext2 {
  background-color: #c89b4e;
   display:none;
  position:relative;
top:-520px;
left:120px;
  margin: 10px;
  font-size:3vw;
  z-index: 10;
  color: #fffef7;
  width:60%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  padding: 25px;
  /*border-radius: 50%;*/
}

.hovertext3 {
  background-color: #A4A6BB;
   display:none;
  position:relative;
top:-520px;
left:80px;
  margin: 10px;
  font-size:3vw;
  z-index: 10;
  color: #fffef7;
  width:70%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  padding: 25px;
/*  border-radius: 50%;*/
}

}

/*-----MD----13- */
@media screen and (max-width: 1440px) {

input[type=range] {
  -webkit-appearance: none;
  width: 30%;
  margin: 0px 0;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
  bottom: 15%;
}


.phrase {
  width:85%;
  font-size: 3vh;
  line-height: 1.5;
  letter-spacing: 0.5px;

}

.circle { 
  position: relative; 
  width: 100%; 
  overflow: hidden; }

.circle text 
{ 
  font-family: 'Montserrat', Georgia, serif; 
  font-size: 2.3vw; 
  font-weight: bolder; 
  letter-spacing: 2px;
}

.circle svg { position: fixed; right: -10%; bottom: -3%; width: 40%; height: 300px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}
h1 {
  font-family: 'Antic Didone', Georgia, serif;
  font-size:6vh;
  text-align: center;
  padding: 20px;
  letter-spacing: -0.5px;
}

.keyword {
  width:100%;
  text-align: center;
  margin-bottom:4%;
}

.keyword span {
  font-size:3.5vw;
  padding: 0 9.1%;
}

.hovertext {
  display:none;
  position:relative;
top:-420px;
left:70px;
  margin: 10px;
  font-size:2.7vw;
  z-index: 10;
  color: #fffef7;
  width:60%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  background-color: #ff3333;
  padding: 25px;
/*  border-radius: 50%;*/
}

.hovertext2 {
  background-color: #c89b4e;
   display:none;
  position:relative;
top:-420px;
left:70px;
  margin: 10px;
  font-size:2.7vw;
  z-index: 10;
  color: #fffef7;
  width:60%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  padding: 25px;
  /*border-radius: 50%;*/
}

.hovertext3 {
  background-color: #A4A6BB;
   display:none;
  position:relative;
top:-420px;
left:50px;
  margin: 10px;
  font-size:2.7vw;
  z-index: 10;
  color: #fffef7;
  width:70%;
/*  font-family: "Montserrat", Arial, sans-serif;*/
  pointer-events:none;
  padding: 25px;
/*  border-radius: 50%;*/
}

}

/*-----SM----- */
@media screen and (max-width: 1220px) {

input[type=range] {
  -webkit-appearance: none;
  width: 30%;
  margin: 0px 0;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
  bottom: 15%;
}

.title {
font-size:3.5vw;
text-decoration: none;
color: #2F251B;
padding: 5px 5px;
font-weight: bold;
letter-spacing: 2px;
z-index: 100;
border: 4px solid #ff3333;
margin: 10px;
  }

.nav {
/*  grid-area: nav;*/
  font-size:3.5vw;
  /*margin-top:2%;*/
/*  padding: 25px 0px 0 0px;*/
  z-index: 0;
  margin-top:-0.3%;
  padding-right:5px;
  float: right;
  text-align: right;
}

 .inner {
  border:4px solid #a4a6bb;
  margin:2px;
  padding:8px;
 }

.bymarleau {
padding-left:7px;
float:left;
text-align:left;
margin-top:1%;
}

.phrase {
  width:85%;
  font-size: 2vh;
  line-height: 1.5;

}

.circle { 
  position: relative; 
  width: 100%; 
  overflow: hidden; 
}

.circle text 
{ 
  font-family: 'Montserrat', Georgia, serif; 
  font-size: 3.2vw; 
  font-weight: bolder; 
  letter-spacing: 2px;
}

.circle svg { position: fixed; right: -10%; bottom: -3%; width: 40%; height: 300px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

h1 {
  font-family: 'Antic Didone', Georgia, serif;
  font-size:4vh;
  text-align: center;
  padding: 20px;
  letter-spacing: -0.5px;
}

}


/*-----TABLET----- */
@media screen and (max-width: 1023px) {

input[type=range] {
  -webkit-appearance: none;
  width: 30%;
  margin: 0px 0;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
  bottom: 13%;
}

.phrase {
  width:85%;
  font-size: 2vh;
  line-height: 1.5;

}


.title {
font-size:3vw;
text-decoration: none;
color: #2F251B;
padding: 5px 5px;
font-weight: bold;
letter-spacing: 2px;
z-index: 100;
border: 4px solid #ff3333;
margin: 10px;
  }

.nav {
/*  grid-area: nav;*/
  font-size:3vw;
  /*margin-top:2%;*/
/*  padding: 25px 0px 0 0px;*/
  z-index: 0;
  margin-top:0%;
  padding-right:5px;
  float: right;
  text-align: right;
}

 .inner {
  border:4px solid #a4a6bb;
  margin:2px;
  padding:8px;
 }

.bymarleau {
padding-left:7px;
float:left;
text-align:left;
margin-top:1%;
}

.circle { 
  position: relative; 
  width: 100%; 
  overflow: hidden; 
}

.circle text 
{ 
  font-family: 'Montserrat', Georgia, serif; 
  font-size: 3vw; 
  font-weight: bolder; 
  letter-spacing: 2px;
}

.circle svg { position: fixed; right: -10%; bottom: -3%; width: 40%; height: 300px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.keyword {
  width:100%;
  text-align: center;
  margin-bottom:4%;
}

.keyword span {
  font-size:3.5vw;
  padding: 0 6.1%;
}

    .slider {
        width: 100%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

    .lazyslider {
      color: #2F251B;
      letter-spacing: -1px;
      font-size:4vw;
    }

}


/*--------------MOBILE--------------*/

@media screen and (max-width: 667px) {

  * {
  padding: 0;
  margin: 0;
}


/*.mobile-menu-toggle-button:checked ~ .mobmenu-toggle {
            background-color: transparent;
            color: #fffef7;
            -webkit-transform: rotate(-120deg);
            border-radius: 50%;
            top: 10px;
            left:10px;
        }*/
 .nav ul li {
  /*line-height: 6em;*/
  list-style: none;
  font-size:4vw;
  margin-top: -2.3%;
   }

           .mobile-toggleable-menu li a {
        display: block;
        text-decoration: none;
        color: #2F251B;
        padding: 0 0px;
        letter-spacing: -0.5px
        ;
                         }

.grid {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
 /* "nav nav"*/
  "title"
  "content"
  "content2";
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas:
  "nav nav"
  "title title"
  "content content"
  "content2 content2";
  grid-row-gap:0;
}

.content {
grid-area: content;
text-align:center;
padding: 0 0px;
letter-spacing: 0px;
font-size: 6vw;
}

.content2 {
grid-area: content2;
text-align: center;
background: transparent;
width:100%;
padding: 0;
}

/*.grid div:nth-child(even) {
  background-color:transparent;

}

.grid div:nth-child(odd) {
  background-color:transparent;
}*/

.title {
grid-area: title;
font-size:10vw;
text-align:center;
margin-left:0;
padding: 5px;
letter-spacing: 0.5px;
margin-top:15%;
margin-right:0;
border: 5px solid #ff3333;
margin-bottom: 0;
}

.title a{
  text-decoration: none;
color: #2F251B;
}

.bymarleau {
  display: none;
}

  .booknow {
    display:block;
  text-align: center;
  float:none;
  padding:0;
  font-size:10vw;
  letter-spacing: -0.5px;
  }

 .inner {
  border:5px solid #a4a6bb;
  margin:2px;
  padding:10px;
 }

.nav {
grid-area: nav;
font-size:2vw;
text-align: right;
}

.nav a{
  color: #2F251B;
text-decoration: none;
}

.nav-desktop a {
  display: none;
}

.nav-mobile a {
  display: block;
}

input[type=range] {
  -webkit-appearance: none;
  width: 40%;
  margin: 10px 0px;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
  bottom: 13%;
  z-index: 100;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.6px 0.6px 0.5px #2F251B, 0px 0px 0.6px #0d0d0d;
  border: 1.7px solid #2F251B;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}

.phrase {
  width:90%;
  font-size: 1.6vh;
  line-height: 1.4;
  font-family: 'Antic Didone', Georgia, serif;
  margin-top:7%;
  letter-spacing: -0.5px;
}


.column {
      float: left;
    width: 95%;
}

.colour {
  font-size: 2vw;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Antic Didone', Georgia, serif;
  font-size:5vw;
  text-align: center;
  padding: 20px;
  letter-spacing: -0.5px;
}

.lessshit {
 float: left;
 margin-left: 10%;
 font-size:4.5vw;
 margin-top:10%;
}

.moreshit {
 float:right;
margin-right:10%;
font-size:4.5vw;
margin-top:10%;
}


.home {
  display: block;
  color: #2F251B;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size:3vw;
  margin-top: 6%
}

.maparea {
  margin-top: 17%;
  position: absolute;
  top:50%;
  left:50%;transform: translate(-50%,-50%);
  text-align:center;
  line-height: 1.5;
  width:100%;
}

.mapimg {
  width:80%;
  height:80%;
  border: solid 1px #2F251B;
}

.contact {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 10px;
}

.testis {
  letter-spacing: -0.5px;
}

.box>ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
} 

.box>ul li {
    width: 12px;
    height: 12px;
    margin: 15px 10px; 
    border-radius: 50%;
    border: 4px solid #2F251B;
    transition: all 1s ease;
}

 .nav ul {
        margin: 0;
        padding: 5%;
        font-family: 'Montserrat', arial, serif;


    }
.rate-type {
  font-size: 7vw;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  margin-top:5%;
  text-align: center;
}

.row {
  width: 100%;
  margin: 40px auto;
  z-index: 1;
  padding: 0 15px;
  overflow: hidden;
}

.gender0 {
  line-height: 1.5;
   text-align: center;
    font-size:6vw;
    margin: 0 auto;
}

.colour {
  font-size:5vw;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 15px;
  overflow: hidden;
}

.prices {
  margin-right:3%;
}
.styling {
  margin-top:1%;
}

.keyword {
  width:100%;
  text-align: center;
  margin-top:-200px;
  display: none;
}

.keyword span {
  font-size:3.5vw;
  padding: 0 20px;
}

.imageblock {
  /*padding: 70px 20px;*/
   float: none;
  padding: 0px;
  width:100%;
}

.img {
  width:100%;
  vertical-align: bottom;
}

.images {
  margin-top: 0px;
}

.blockquote {
  background-color:#ff3333;
  display: block;
  padding: 70px 0px;
  width:100%;
  color: #fffef7;
  font-size: 10vw;
  letter-spacing: -0.5px;
}

.blockquote2 {
  background-color:#c89b4e;
  display: block;
  padding: 70px 0px;
  width:100%;
  color: #fffef7;
  font-size: 10vw;
  letter-spacing: -0.5px;
}

.blockquote3 {
  background-color:#A4A6BB; 
  display: block;
  padding: 70px 0px;
  width:100%;
  color: #fffef7;
  font-size: 10vw;
  letter-spacing: -0.5px;
}

.blockquote4 { 
  display: block;
  padding: 70px 0px;
  width:100%;
  color: #2F251B;
  font-size: 10vw;
  letter-spacing: -0.5px;
}

.hovertext {
  display:none;
}

.hovertext2 {
  display:none;
}

.hovertext3 {
  display:none;
}

a:hover + .hovertext  {
  display:none;
}


a:hover + .hovertext2  {
  display:none;
}


a:hover + .hovertext3  {
  display:none;
}

.circle { 
  position: relative; 
  width: 100%; 
  overflow: hidden; 
  z-index: 1234;
  display: none;
}

.circle text 
{ 
  font-family: 'Montserrat', Georgia, serif; 
  font-size: 10vw; 
  font-weight: bolder; 
  letter-spacing: 2px;
}

.circle svg { position: fixed; right: -10%; bottom: -3%; width: 70%; height: 300px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.buzzer {
  font-size: 3vw;
}

}

/*--------------MOBILE-XS--------------*/

@media screen and (max-width: 320px) {

input[type=range] {
  -webkit-appearance: none;
  width: 40%;
  margin: 10px 0px;
  position: fixed;
  left:50%;
  transform: translate(-50%,0);
  bottom: 15%;
  z-index: 100; }

.phrase {
  width:88%;
  font-size: 1.95vh;
  line-height: 1.3;
  font-family: 'Antic Didone', Georgia, serif;
  margin-top:5%;
  letter-spacing: -0.5px;
}

 .nav ul li {
  /*line-height: 6em;*/
  list-style: none;
  font-size:4vw;
  margin-top: -1.3%;
   }



.circle { position: relative; width: 100%; overflow: hidden; font-size:100%; display:none; }

.circle text { font-family: 'Bagnard', Georgia, serif; font-size: 90%; font-weight: bold; letter-spacing: 2px;}

.circle svg { position: fixed; right: -5%; top: -19%; width: 50%; height: 420px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
      -ms-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

.maparea {
  margin-top: 20%;
  position: absolute;
  top:50%;
  left:50%;transform: translate(-50%,-50%);
  text-align:center;
  line-height: 1.3;
  width:100%;
}

.lessshit {
 float: left;
 margin-left: 10%;
 font-size:4.5vw;
 margin-top:6%;
}

.moreshit {
 float:right;
margin-right:10%;
font-size:4.5vw;
margin-top:6%;
}

h1 {  font-family: 'Antic Didone', Georgia, serif;
  font-size:2.7vh;
  text-align: center;
  padding: 20px;
  letter-spacing: -1px;
}

}
